NSFW
*[jJ]ournals
*[pP]rivate/
*[pP]ersonal/
[mM]isc/
#[aA]rchive?/
*[iI]nbox/
[lL]ocal/
[tT]est
[tT]test.*
[tT]emp
[tT]emp.*
[dD]raft*
[uU]ntitled*
未命名*
Drawing-*.md

.nomedia
*.sync-conflict-*
.stfolder/
.stversions/
.trash/
.obsidian*