NSFW
*[jJ]ournals
*[pP]rivate/
*[pP]ersonal/
*[pP]rojects/
[mM]isc/
#[aA]rchive?/
*[iI]nbox/
[lL]ocal/
[tT]est
[tT]test.*
[tT]emp
[tT]emp.*
[dD]raft*
[uU]ntitled*
未命名*
Drawing-*.md

.DS_Store
.nomedia
.new
*.bak
*.swp
*~
~$*.*
*.sync-conflict-*
.stfolder/
.stversions/
.vscode/
.trash/
.obsidian*
