/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --color-red: #e93147;
  --color-orange: #ec7500;
  --color-yellow: #e0ac00;
  --color-green: #08b94e;
  --color-cyan: #00bfbc;
  --color-blue: #086ddd;
  --color-purple: #7852ee;
  --color-pink: #d53984;

  --doc-sidebar-width: 240px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --color-red: #fb464c;
  --color-orange: #e9973f;
  --color-yellow: #e0de71;
  --color-green: #44cf6e;
  --color-cyan: #53dfdd;
  --color-blue: #027aff;
  --color-purple: #a882ff;
  --color-pink: #fa99cd;
}

strong {
  color: var(--color-red);
}
em {
  color: var(--color-orange);
}

:not(pre) > code {
  color: var(--color-pink);
}

.hero {
  flex: 1;
}
/* .hero--primary {
  --ifm-hero-background-color: var(--ifm-background-color);
  --ifm-hero-text-color: var(--ifm-font-color-base);
} */

article [href^="http"] {
  /* 外部链接样式 */
  /* color: #e91e63; */
  text-decoration: underline;
  /* position: relative; */
  /* padding-right: 18px; */
}

/* article a[href^="http"]::after {
  content: "↗";
  position: absolute;
  font-size: 0.8em;
  margin-left: 3px;
} */

@import '../../node_modules/@anyblock/remark-any-block/styles';

/* 适配当前框架与 anyblock 样式 */
.ab-note {
  margin: 10px 0;
  table tr {
    border: none;
  }
}